@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Puedes borrar el bloque .dark { ... } si quieres limpiar al 100% */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}